{:highlights [{:id #uuid "698c378c-dd8a-4600-807a-895bc366e25e",
               :page 2,
               :position {:bounding {:x1 120.03125,
                                     :y1 883.125,
                                     :x2 871.0972900390625,
                                     :y2 943.125,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 120.03125,
                                   :y1 883.125,
                                   :x2 871.0972900390625,
                                   :y2 902.125,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 903.71875,
                                   :x2 870.733642578125,
                                   :y2 922.71875,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 924.125,
                                   :x2 817.8856201171875,
                                   :y2 943.125,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 2},
               :content {:text "A consistent bias in studies of Covid-19 vaccine effectiveness arises from the assumption that it is necessary to allow an incubation period (typically up to 21 days) for an immune response to take effect. Under this assumption subjects are not categorised as vaccinated until this period has lapsed."},
               :properties {:color "yellow"}}
              {:id #uuid "698c382b-3f5a-4df1-b2e7-adcfc9c8dc7f",
               :page 2,
               :position {:bounding {:x1 120.03125,
                                     :y1 1129.578125,
                                     :x2 871.3123779296875,
                                     :y2 1251.171875,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 559.1223754882812,
                                   :y1 1129.578125,
                                   :x2 870.7667236328125,
                                   :y2 1148.578125,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 1149.96875,
                                   :x2 870.6637573242188,
                                   :y2 1168.96875,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 1170.578125,
                                   :x2 871.3123779296875,
                                   :y2 1189.578125,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 1190.96875,
                                   :x2 870.6849365234375,
                                   :y2 1209.96875,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 1211.578125,
                                   :x2 870.6866455078125,
                                   :y2 1230.578125,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 120.03125,
                                   :y1 1232.171875,
                                   :x2 233.82891845703125,
                                   :y2 1251.171875,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 2},
               :content {:text "ndeed, we might consider a hypothetical scenario where this incubation period assumption operates and where every vaccinated person is infected within the first 21 days yet is not categorised as vaccinated and is instead categorised as unvaccinated. Logically, if at least one genuinely unvaccinated person is infected within the period of the study, we would then conclude the vaccine, despite offering zero protection against infection, is100% effective."},
               :properties {:color "yellow"}}
              {:id #uuid "698cda40-9e09-49a4-964c-c5ca76ed6b12",
               :page 15,
               :position {:bounding {:x1 347.146240234375,
                                     :y1 16.53125,
                                     :x2 347.1631164550781,
                                     :y2 31.53125,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 347.146240234375,
                                   :y1 16.53125,
                                   :x2 347.1631164550781,
                                   :y2 31.53125,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text nil},
               :properties {:color "purple"}}],
 :extra {:page 10}}
